{% extends 'index.html' %}
{% block title %} {% if user.username %} Timesheet Submission {% else %} Please Login {% endif %} {% endblock %}

{% block javascript %} 
<script type='text/javascript'>
//generate the form to look just like the word document
//create data values for hourly cost of machines and jobcodes
//get data from form to populate timecard model
//submit button in form submits into timecard model
//OPTIONAL: auto generate total when you input code and hours

//    $(document).ready(function(){
//    var container1 = $(document.createElement('div.col-sm-12')); // = <div></div>
//    var container2 = $(document.createElement('div.col-md-12'));
//    var container3 = $(document.createElement('div'));
//    var jobCodeFinal;
//    var siteCode = "Site Code : <input type='text' name='siteCode'/>  Contractor Name : <input type='text' name='contractor'/>  Date : <input type'text' name='date'/>";
    //for(i = 0; i<$('#jobCode').getAttribute('data-cnt');i++){
    //    var db = openDatabase('db.sqlite3','1.0','jobCode',2 * 1024 * 1024);
    //    var jobCodeVal, jobCodeStart = "<fieldset><legend><p><label>Labor Code: </label><select id = 'laborCodeList'>",jobCodeEnd = "</select></p></fieldset>";
    //    db.transaction(function(tx) {
    //                        tx.executeSQL('SELECT * FROM TimeClock_jobcode WHERE jobcode', [], function(tx,results) {
    //                                                                                        var len = results.rows.length, i;
    //                                                                                        for( i=0 ; i< len; i++){
    //                                                                                            jobCodeVal = jobCodeVal + results.row.item(i).text;
    //                                                                                        }});
    //    });
    //    jobCodeFinal = jobCodeStart + jobCodeVal + jobCodeEnd};
    //var jobCode = `<form>$(jobCodeFinal)</form>`;
    
    //var jobCodeData, jobCodeStart = "<p><label>Labor Code : </label><select id = 'laborCodeList'>",jobCodeEnd = "</select></p>";
    //var jobCodeCnt;
    //jobCodeData = jobCodeData + `<option>test</option>`
    //for(;jobCodeCnt < 3;jobCodeCnt++) {
    //    var jobCodeVal = $(`#job${jobCodeCnt}`).getAttribute('data-jobCode');
    //    jobCodeData = jobCodeData + `<option>${jobCodeVal}</option>`
    //}
    
    //jobCodeData = "<option>testing123</options>"
    //var jobCodeFinal = jobCodeStart + jobCodeData + jobCodeEnd; 
 //   container1.append(siteCode);
    //container2.append(jobCodeFinal);
//    $('#timecardform').append(container1);
    //$('#jobCode').append(jobCodeFinal);

    
 //   });
    
</script>
{% endblock %}
{% block content %}

{% if perms.auth.Contractor %}
<!--<div class="formContainer" style='height:100%;'>
<div class='row' id="timecardform"></div>
<br><br>

<div class = 'row' id="jobCode">
                <p>
                <label>Select list</label>
                <select id = "myList">
                  <option value = "1">one</option>
                  <option value = "2">two</option>
                  <option value = "3">three</option>
                  <option value = "4">four</option>
                </select>
                </p>
</div>
</div>
-->

<div style='height:100%;'>
    <div class="row container-fluid">
        <label>Site Code : </label> <input type='text' id='SiteCode'/>
        <label>Contractor Name : </label> <input type='text' id='ContractorName'/>
        <label>Date : </label> <input type='text' id='Date'/>
    </div>
    <div class="row mt-5 ml-1 container1" style='height:30%;border:1px solid gray;width:1000px'>
        <h3 class='text-dark pr-5 pl-2 ' style='margin-top:-20px;margin-left:30px;background:gray;height:15%'>Labor Entry</h3>
               <div class='float-left' style='width:100%;margin-top:-100px'>
                    <label class='ml-5'>Labor Code : </label>
                    <select id = "machineCode">
                        {% for Machine in object_list %}
                            <option value = "{{JobCode.id}}">
                                Test
                                {{Machine.jobCode.jobCode}}
                            </option>
                        {% endfor %}
                        
                    </select>
                    
                    <label class='ml-5'>Hrs. Worked</label>   <input style='width:50px' type='text' id='hoursWorked{{JobCode.id}}'/>
                    <label class='ml-5'>Total: </label>   <input style='width:50px' type='text' id='totalCost{{JobCode.id}}'/>
                    
                </div>        
    </div>
    {% block local_content %} {% endblock %}
    <!--<div class="row mt-5 ml-1 container1" style='height:30%;border:1px solid gray;width:1000px'>
            <h3 class='text-dark pr-5 pl-2 ' style='margin-top:-20px;margin-left:30px;background:gray;height:15%'>Labor Entry</h3>
                   <div class='float-left' style='width:100%;margin-top:-100px'>
                        <label class='ml-5'>Labor Code : </label>
                        <select id = "machineCode">
                            {% for JobCode in object_list %}
                                <option value = "{{Machine.id}}">
                                    {{machineCode.value}}
                                </option>
                            {% endfor %}
                        </select>
                        
                        <label class='ml-5'>Hrs. Worked</label>   <input style='width:50px' type='text' id='hoursWorked{{JobCode.id}}'/>
                        <label class='ml-5'>Total: </label>   <input style='width:50px' type='text' id='totalCost{{JobCode.id}}'/>
                        
                    </div>
    </div>-->


<div class='float-right'><button class='bg-primary text-white px-5'>Clear</button> <button class='bg-primary text-white px-5'>Submit</button> </div>


</div>





{% endif %}
{% endblock %}

